{% extends 'base.html' %}

{% block content %}
<form class='login'action="{{url_for('sign')}} " method="POST">
    {{ sform.hidden_tag() }}
    {{ sform.username.label }} {{sform.username}} <br> <br>
    {{ sform.email.label }} {{sform.email}} <br> <br>
    {{sform.password.label}} {{sform.password}} <br> <br>
    {{ sform.confermpassword.label }} {{sform.confermpassword}}
    {{sform.submit}}
</form>
<a class='sign'href="{{url_for('login')}}">Login</a>
<a class='users' onclick="clr()" href="{{url_for('users')}}">Users</a>
{% endblock %}